.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .perspective-container {
    perspective: 1000px;
    width: fit-content;
  }
  
  .perspective-container img {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, transform-origin 1s ease-in-out;
    width: 100%;
    transform: rotateY(0deg);
    opacity: 1; /* Set initial image opacity to 1 */
    transform-origin: center center; /* Keep transform-origin consistent */
    /* box-shadow: 10px 10px 20px #00a78055; */
    border-radius: 10px;
    filter: grayscale(1);
    transition: filter 0.4s;
  }

  .perspective-container img:hover {
    filter: none;
  }
  
  .perspective-container.transformed img {
    opacity: 1;
  }
  
  .perspective-container.left.transformed img {
    animation: rotateLeft 0.4s forwards;
  }
  
  .perspective-container.right.transformed img {
    animation: rotateRight 0.4s forwards;
  }
  
  .perspective-container.returning img {
    animation: rotateBack 0.4s forwards;
  }
  
  @keyframes rotateLeft {
    0% {
      transform-origin: center center;
      transform: rotateY(0deg);
    }
    100% {
      transform-origin: left center;
      transform: rotateY(20deg);
    }
  }
  
  @keyframes rotateRight {
    0% {
      transform-origin: center center;
      transform: rotateY(0deg);
    }
    100% {
      transform-origin: right center;
      transform: rotateY(-20deg);
    }
  }
  
  @keyframes rotateBack {
    0% {
      transform-origin: var(--current-origin); /* Custom property for dynamic origin */
      transform: rotateY(var(--current-rotate)); /* Custom property for dynamic rotate */
    }
    100% {
      transform-origin: center center;
      transform: rotateY(0deg);
    }
  }
  
  .info-section {
    display: flex;
    justify-content: space-between;
  }
  
  .info-text-container, .info-image-container {
    flex: 1;
    margin: 0 10px;
  }
  
  /* Responsives Design */
  @media (max-width: 780px) {
  
.info-container .info-section:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr;
}

.info-container .info-section:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
}
    .info-text-container,
    .info-image-container {
      margin: 20px 0;
    }
  
    .hidden.from-left,
    .hidden.from-right {
      transform: translateX(-100%);
    }
  
    .visible.from-left,
    .visible.from-right {
      transform: translateX(0);
    }
  }


  .cls-1 {
    fill: none;
    stroke: var(--primary-color);
    stroke-miterlimit: 10;
    position: absolute;
    height: 20em;
    bottom: -6rem;
    left: -8rem;
    z-index: -1;
  }

  .cls-2 {
    fill: none;
    stroke: var(--primary-color);
    stroke-miterlimit: 10;
    position: absolute;
    height: 20em;
    top: -6rem;
    right: 1rem;
    z-index: -1;
  }
  