:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #00A77F;
  --nav-background: #363636;

  --background-image-dark: url('../images/background/hero-background-dark.jpg');
  --background-image-light: url('../images/background/hero-background-light.jpg');
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #00A77F;
    --nav-background: #363636;
  }

  [data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #00A77F;
    --nav-background: #ffffff;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    transform: translateX(25px);
  }
  
  /* SVG Icons */
  .icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .moon-icon {
    right: 5px;
  }
  
  input:checked + .slider .moon-icon {
    display: none;
  }
  
  .sun-icon {
    left: 5px;
    display: none;
  }
  
  input:checked + .slider .sun-icon {
    display: block;
  }