
/**** Film ****/

.video-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2000;
  margin-bottom: 2em;
}


.video-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}


.video-container.fullscreen video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.film {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* .film-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */




/**** Steuerelemente ****/

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 0px;
}


.fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; 
}

.fake-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; 
}

.volume-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.play-btn, .volume-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
}

.play-btn img, .volume-btn img {
  height: 40px;
  width: 40px;
}

.video-controls-up {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  height: 20%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.56) 19%, rgba(0,0,0,0) 100%);
}

.video-controls-down {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.56) 19%, rgba(0,0,0,0) 100%);
  margin: 0px;
  box-sizing: border-box;
}




.video-choices {
  position: absolute;
  bottom: 0px; /* Abstand vom unteren Rand */
  padding: 50px 0px;
  left: 50%;
  transform: translateX(-50%) translateY(100%); /* Zentriert den Container horizontal */
  z-index: 100; /* Stellt sicher, dass die Buttons über dem Video liegen */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Abstand zwischen den Buttons */
  transition: all 0.5s ease-in-out;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.435);
}

.show-choices {
  transform: translateX(-50%) translateY(0); /* Endposition: im sichtbaren Bereich */
}

.fullscreen-btn {
  top: 20px;
  left: 20px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.choice-button {
  padding: 10px 30px;
  font-size: 22px;
  background-color: white;
  color: #00A77F;
  cursor: pointer;
  border-radius: 10px;
  border: transparent;
  transition: all 0.4s;
}

.choice-button:hover {
  color: white;
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.choice-button.selected {
  background-color: var(--primary-color) !important;
  color: white; /* Grüner Hintergrund für ausgewählte Option */
  cursor: default;
  cursor: not-allowed;
}

.choice-button.disabled {
  cursor: not-allowed; /* Zeigt an, dass der Button nicht klickbar ist */
  color: #ccc; /* Graufärbung für deaktivierte Buttons */
  background-color: #f9f9f9; /* Hintergrundfarbe für deaktivierte Buttons */
}

.choice-button.disabled:hover {
  background-color: #f9f9f9; /* Verhindert Farbänderung beim Hover */
  color: #ccc; /* Hält die Textfarbe gleich */
  transform: scale(1);
}



/* .video-choices button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: white;
  color: #00A77F;
  cursor: pointer;
  border-radius: 10px;
  border: transparent;
  transition: all 0.4s;
} */

/* .video-choices button:hover {
  color: white;
  background-color: var(--primary-color);
} */

.timer-container {
  visibility: hidden; /* Standardmäßig versteckt */
  transition: visibility 0.2s linear;
}

.timer-visible .timer-container {
  visibility: visible; /* Sichtbar, wenn die Klasse .timer-visible hinzugefügt wird */
}


.timer {
  font-size: 20px;
  font-weight: bold;
  color: white;
}




.volume-control {
  cursor: pointer;
  top: 80px;
  left: 20px;
}

.progress {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.progress-bar {
  cursor: pointer;
}




input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #00A77F;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #00A77F;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}

.loading-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: var(--primary-color);
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}


@media (max-width: 1000px) {
  .video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .choice-button {
    padding: 10px 30px;
    font-size: 14px;
  }

  .play-btn img, .volume-btn img {
    height: 25px;
  }

  .video-controls-up {
    flex-direction: row;
  }
}