.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.video-container {
  position: relative; /* Für die Positionierung der Buttons */
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2000;
}

.loading-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 24px;
  z-index: 1000;
}

.choice-btn-container {
  position: absolute;
  bottom: 0px;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
}

.buttons-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Stelle sicher, dass die Buttons über dem Player liegen */
}

.fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Stelle sicher, dass der Button über dem Player liegt */
}

.fake-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; /* Stelle sicher, dass dies das höchste z-index ist */
  background-color: black; /* Hintergrundfarbe, falls gewünscht */
}

.volume-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.play-btn, .volume-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px;
}

.play-btn img, .volume-btn img {
  height: 40px;
  width: 40px;
}

.video-controls-up {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  height: 20%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.56) 19%, rgba(0,0,0,0) 100%);
}

.video-controls-down {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.56) 19%, rgba(0,0,0,0) 100%);
}

/* CSS: Stelle sicher, dass diese Stile in deiner Anwendung verfügbar sind */

.video-container.fullscreen {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Hintergrundfarbe für bessere Optik im Vollbild */
  display: flex;
  flex-direction: column; /* Stapelt Video und Button-Container vertikal */
  justify-content: space-between; 
}

.video-container.fullscreen video {
  width: 100%;
  height: 100%;
}

.video-choices {
  position: absolute;
  bottom: 20px; /* Abstand vom unteren Rand */
  left: 50%;
  transform: translateX(-50%) translateY(100%); /* Zentriert den Container horizontal */
  z-index: 100; /* Stellt sicher, dass die Buttons über dem Video liegen */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Abstand zwischen den Buttons */
  transition: all 0.5s ease-in-out;
}

.show-choices {
  transform: translateX(-50%) translateY(0); /* Endposition: im sichtbaren Bereich */
}

.fullscreen-btn {
  top: 20px;
  left: 20px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video-choices button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: white;
  color: #00A77F;
  cursor: pointer;
  border-radius: 10px;
  border: transparent;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.volume-control {
  cursor: pointer;
  top: 80px;
  left: 20px;
}

.progress {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.progress-bar {
  cursor: pointer;
}

.film {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.film-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #00A77F;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #00A77F;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}


@media (max-width: 1000px) {
  .video-container {
    position: relative; /* Für die Positionierung der Buttons */
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .video-choices button {
    padding: 10px 30px;
    font-size: 12px;
  }

  .play-btn img, .volume-btn img {
    height: 25px;
  }

  .video-controls-up {
    flex-direction: row;
  }
}