.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0px 40px;
    font-size: 20px;
}

.info-image-container {
    background-image: url("https://images.pexels.com/photos/3379934/pexels-photo-3379934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center center;
    min-height: 400px;
}