body {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: var(--text-color);
        background-color: var(--background-color);
        padding: 0px;
}

.custom-body {
  padding: 0px 10%;
}

body.no-padding {
  padding: 0 !important;
}

/* Textauswahl */

::selection {
        background: var(--primary-color);
        color: var(--text-color);
        
      }



/* Mouseclick Effect */

.clickEffect {
        position: fixed;
        box-sizing: border-box;
        border-style: solid;
        border-color: var(--primary-color);
        border-radius: 50%;
        animation: clickEffect 0.4s ease-out;
      }
      
      @keyframes clickEffect {
        0% {
          opacity: 1;
          width: 0.5em;
          height: 0.5em;
          margin: -0.25em;
          border-width: 0.5em;
        }
        100% {
          opacity: 0.2;
          width: 15em;
          height: 15em;
          margin: -7.5em;
          border-width: 0.03em;
        }
      }

