body {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: var(--text-color);
        background-color: var(--background-color);
        padding: 0px;
        margin: 0xp;
        box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.custom-body {
  padding: 0px;
}



.margin-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.boxed-container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0px 20px;

}

/* @media (min-width: 540px) {
  .boxed-container {
    max-width: 380px;
  }
} */

.breadcrumbs a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.4s;
}

.breadcrumbs a:hover {
  color: var(--primary-color)
}

@media (min-width: 576px) {
  .boxed-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .boxed-container {
    max-width: 720px;
  }
}

@media (min-width: 1284px) {
  .boxed-container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .boxed-container {
    max-width: 1402px;
  }
}

@media (min-width: 2200px) {
  .boxed-container {
    max-width: 1702px;
  }
}





body.no-padding {
  padding: 0 !important;
}

/* Textauswahl */

::selection {
        background: var(--primary-color);
        color: var(--text-color);
        
      }



/* Mouseclick Effect */

.clickEffect {
        position: fixed;
        box-sizing: border-box;
        border-style: solid;
        border-color: var(--primary-color);
        border-radius: 50%;
        animation: clickEffect 0.4s ease-out;
      }
      
      @keyframes clickEffect {
        0% {
          opacity: 1;
          width: 0.5em;
          height: 0.5em;
          margin: -0.25em;
          border-width: 0.5em;
        }
        100% {
          opacity: 0.2;
          width: 15em;
          height: 15em;
          margin: -7.5em;
          border-width: 0.03em;
        }
      }

