.project-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}

.project {
    max-width: 100%;
}

.project-thumbnail {
    max-width: 100%;
}


.link-to-project {
    cursor: pointer;
    text-decoration: none;
}

.hofgarten-links {
    margin-top: 50px;
}

.hofgarten-links a {
    text-decoration: none;
    color: var(--primary-color);
}




/* Modal Overlay */
.image-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .image-modal {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Image */
  .modal-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Behalte das Seitenverhältnis bei und sorge dafür, dass das gesamte Bild angezeigt wird */
  }
  
  /* Close Button */
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    font-size: 18px;
    color: #333;
  }
  





@media (max-width: 768px) {
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }


  
  
  
  @media (max-width: 1400px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }
  }
  