@font-face {
    font-family: 'VarelaRound';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 5em;
    margin: 0px;
    font-family: VarelaRound;
    position: relative;
}

h1::after {
    position: absolute;
    left: 0;
    content: attr(data-text);
    background: linear-gradient(90deg, rgba(0,167,127,1) 0%, rgba(0,212,255,0) 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 3em;
    color: var(--primary-color);
    margin: 0px;
    font-family: VarelaRound;
}

p {
    line-height: 30px;
}

@media (max-width: 1424px) {
    h1 {
        font-size: 4em;
    }
}

@media (max-width: 780px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }
}