@font-face {
    font-family: 'VarelaRound';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 5em;
    margin: 0px;
    font-family: VarelaRound;
}

h2 {
    font-size: 3em;
    color: var(--primary-color);
    margin: 0px;
    font-family: VarelaRound;
}

@media (max-width: 780px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }
}